@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 200;
  src: local('Catamaran ExtraLight'), local('Catamaran-ExtraLight'), url(https://fonts.gstatic.com/s/catamaran/v1/hFc-HKSsGk6M-psujei1MBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body{
  font-family: Catamaran;
  letter-spacing: 0.5px;
}

.row{
  margin : 0 3% 0 3%;
}

$leocolor : rgb(40, 62, 74);
$buttoncolor : rgb(0, 119, 181);
$backgroundcolor : #eeeeee;
$juniorcolor: rgb(0, 154, 234);
$expertcolor : rgb(0, 53, 81);

#overlay-back {
  position   : absolute;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 616%;
  background : #000;
  opacity    : 0.6;
  filter     : alpha(opacity=60);
  display    : none;
  z-index: 950;
}

#overlay {
  position : absolute;
  top      : 0;
  left     : 0;
  width    : 100%;
  height   : 616%;
  display  : none;
}
/*
#close{
  display: none;
  border: none;
  font-size: 12px;
  background-color: $leocolor;
  position: fixed;
  z-index:1200;
  bottom:85%;
  left:70%;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 100px;

}*/

#close{
  font-size: 14px;
  float: right;
  position: relative;
  bottom:3%;
  background-color: $leocolor;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: none;
}

#form{
  display: none;
  background-color: white;
  position: fixed;
  z-index:1000;
  bottom:9%;
  left:28%;
  height:550px;
  width: 45%;
  padding: 30px 20px 30px 20px;
  color: #595959;
  //border: 3px solid $buttoncolor;
  //box-shadow: 0 0 100px 5px #101010;

  h3{
    margin: 0 70px 30px 70px;
    color: $leocolor;
  }

  label{
    margin-bottom: 0;
  }
}

.form-group{
  //margin: 0 15px 20px 15px;
}

.form-control{
  border-radius: 0;
  background-color: rgba(255, 250, 240, 0.8);
  border: 1px solid #d6d1c9;
}

#valid{
  font-size:18px;
  margin: 15px 0 0 3px;
  display: none;
  color: #002f00;
  float: right;
  background-color: rgba(0, 128, 0, 0.08);
  padding: 10px;
  border-radius: 3px;
}

#existing{
  @extend #valid;
  color: #ff0000;
  background-color: rgba(255, 0, 0, 0.06);
}

#wrong{
  @extend #existing;
}

#submit{
  margin-top: 15px;
  font-size:20px;
  font-weight: bold;
  background-color: $buttoncolor;
  color: white;
  border: 1px solid $buttoncolor;
  border-radius: 2px;

  &:hover {
    //box-shadow: white 0 0 10px 3px;
    transition: 0.2s;
    //border: solid 1px white;
  }
}

h1{
  font-size: 35px;
  color: $leocolor;
}

/*-------------------------------------------NAVBAR------------------------------------------------------*/
/*@media (max-width:480px) {
  #text-machine{
    display: none;
  }

  #head-machine{
    display: none;
  }

  #right-machine{
    display:none;
  }

  #text-mobile{
    color: whitesmoke;
    margin: 0;

    img{
      background-color:white;
      border-radius: 20px;
      padding: 1px;
    }
  }

  #try{
    font-size:16px;
    background-color: $buttoncolor;
    color: white;
    border-radius: 2px;
    font-weight: bold;
    margin-left: 49px;

    &:hover{
      //box-shadow: white 0 0 10px 3px;
      transition: 0.2s;
      //border: solid 1px white;
    }
  }
}*/

.navbar-fixed-top{
  background-color: $leocolor;
  border: none;
  padding: 0 15px 0 15px;
}

.navbar-header img{
  background-color: white;
  border-radius: 50px;
  margin-top: 6px;
  padding: 1px;
}

.navbar-text {
  font-size: 16px;
  color: whitesmoke;
  margin-bottom: 0;
}

#nav-leo, #nav-question{
  font-size: 16px;
  color: whitesmoke;
  display: inline-block;
  font-weight: bold;
}

.navbar-default .navbar-text{
  color: $backgroundcolor;
}

.navbar-right{
  margin: 0;
}

#try{
  font-size:16px;
  background-color: $buttoncolor;
  color: white;
  border-radius: 2px;
  font-weight: bold;

  &:hover{
    //box-shadow: white 0 0 10px 3px;
    transition: 0.2s;
    //border: solid 1px white;
  }
}

@media (max-width: 1024px) {
  #try{
    //font-size:14px;
  }

  .navbar-text{
    //font-size: 14px;
  }
}

/*-------------------------------------------HEADER------------------------------------------------------*/

.header {
  width:    100%;
  height:   65vh;
  background: url('../../img/ourclients.jpg') no-repeat center center;
  background-size: cover;
  background-position-y: 50px;
  position: fixed;
  z-index: 100;
}

.message {
  max-width: 90%;
  margin: auto;
  position: absolute;
  top: 65%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
}

.message h1 {
  font-size: 45px;
  color: #FFF;
}

.message p {
  color: #fff;
  font-size: 24px;
}

#try2{

  @extend #try;
  margin-top: 40px;
  margin-bottom:7%;
  font-size: 20px;
  font-weight: lighter;

  &:hover{
    @extend #try;
    //box-shadow: white 0 0 15px 3px;
    font-size: 20px;
  }
}
/*-------------------------------------------LEO------------------------------------------------------*/

.leo{
  background-color: $backgroundcolor;
  padding:3% 0 4% 0;
  position: relative;
  z-index: 900;
  top:65vh;
}

#leo{
  color: $buttoncolor;
  display: inline-block;
}

.description{
  padding: 1% 0 0 0;
  font-size:19px;
  text-align:center;
}

#bold-prospect{
  display: inline-block;
  font-weight: bold;
}

/*-------------------------------------------LINKEDIN------------------------------------------------------*/

.linkedin{
  background-color: white;
  padding:3% 0 4% 0;
  position: relative;
  z-index: 900;
  top:65vh;
}

#linkedin{
  @extend #leo;
}

.users, .time, .messages{
  margin-top: 8%;
  width: 90%;
  // border-top: solid 2px $linkedin;
  //background-color: rgba(52, 97, 156, 0.04);

  p{
    padding: 10% 0 0 0;
    font-size: 18px;
    text-align: center;
  }
}

.mail, .hourglass, .profils{
  background-color: whitesmoke;
  width: 75px;
  height: 75px;
  border-radius: 150px;
  border: 1px solid $backgroundcolor;
  padding-top: 20px;
}

/*
.users, .time, .messages{
  margin-top: 8%;
  width: 90%;
  // border-top: solid 2px $linkedin;
  //background-color: rgba(52, 97, 156, 0.04);

  p{
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-align: center;
    display: inline-flex;
  }
}


#bold-users, #bold-hours, #bold-messages{
  font-weight: bold;
  display: inline-flex;
  padding: 0;
}

#users, #hours, #messages{
  display: inline-flex;
  padding: 0;
}
*/

.mail, .hourglass, .profils{
  background-color: whitesmoke;
  width: 75px;
  height: 75px;
  border-radius: 150px;
  border: 1px solid $backgroundcolor;
  padding-top: 20px;
}


/*-------------------------------------------MISSIONS------------------------------------------------------*/

.missions {
  background-color: $backgroundcolor;
  padding: 3% 0 6% 0;
  position: relative;
  z-index: 900;
  top:65vh;

  img {
    float: left;
    margin: 10px;
    padding: 5px;
  }
}

#mi{
  color: $buttoncolor;
  display: inline-block;
}

.title{
  background-color: white;
  display: inline-block;
  width: 460px;
  margin-top:60px;
  box-shadow: 0 0 50px 8px rgb(255, 255, 255);

  p {
    padding-top: 20px;
    font-size: 22px;
    margin-right: 20px;
    text-transform: uppercase;
    color: $leocolor;
  }
}

.text{
  padding:10px 20px 0 0;
  width: 460px;

  p{
    padding: 10px 0 10px 0;
    color: $leocolor;
    font-weight: bolder;
    font-size: 18px;
  }
}

.bold-consult{
  font-weight: bold;
}
/*-------------------------------------------COMMENT------------------------------------------------------*/

#perf{
  font-weight: bold;
  display: inline-block;
}

.comment{
  padding: 3% 0 3% 0;
  background-color: $leocolor;
  position: relative;
  z-index: 900;
  top:65vh;

  h1{
    color: $backgroundcolor;
    padding: 0 0 5% 0;
  }
}

.one{
  display: inline-block;
  border-radius: 200px;
  background-color: rgb(101, 144, 166);
  font-size: 40px;
  width : 70px;
  height: 70px;
  color: $backgroundcolor;

  p{
    padding-top: 7px;
    font-weight: bold;
  }
}

.two{
  @extend .one;
  background-color: rgb(78, 148, 187);
}

.three{
  @extend .one;
  background-color: $buttoncolor;
}

.stapes{
  color:white;
  margin:10% 10% 10% 10%;
  text-align: center;
  font-size: 18px;
}

.border{
  display : inline-block;
  width: 28%;
  border-top : 3px solid $backgroundcolor;
}

.screenshot{
  margin: 3% 0 3% 0;
}

/*-------------------------------------------PRICING------------------------------------------------------*/

.pricing{
  background-color: $backgroundcolor;
  padding: 3% 0 5% 0;
  position: relative;
  z-index: 900;
  top:65vh;
}

.list{
  padding:3% 0 4% 0;
  display: inline-block;

  p{
    padding: 11% 0 0 0;
    border-top: solid 1px;
    width: 280px;
  }

  i{
    float: right;
  }
}

.junior{
  background-color: white;
  margin: 10% 10% 0 10%;
  box-shadow: 0 0 40px 8px rgba(255, 255, 255, 1);

  p{
    font-size:18px;
    letter-spacing: 0.5px;
    text-align: left;
    font-weight: bold;
    line-height: 19px;
  }

  h2{
    color:$juniorcolor;
    margin-top:10px;
    font-weight: bold;
  }

  h3{
    margin:0;
    line-height: 0.4;
  }

  h5{
    font-weight: bold;
  }
}

#cinq{
  color: $juniorcolor;
  font-weight: bold;
}

.expert{
  @extend .junior;

  h2{
    color: rgb(0, 53, 81);
  }
}

#mille{
  color: $expertcolor;
  @extend #cinq;
}

.fa-check-circle{
  color: #28c368;
}

.juniorprice{
  border-bottom-left-radius: 2px;
  border-bottom-right-radius : 2px;
  padding:1% 0 2% 0;
  color:white;
  letter-spacing: 1px;
  border: solid 1px $juniorcolor;
  background-color: $juniorcolor;
  margin: 0 10% 0 10%;
  width:80%;

  p{
    font-size: 27px;
    font-weight: bold;
  }
}

.expertprice{
  @extend .juniorprice;
  border: solid 1px $expertcolor;
  background-color: $expertcolor;
}

.engagement p{
  font-size: 18px;
  font-weight: lighter;
  line-height: 0.1;
}

.gratis{
  margin-top: 50px;
}

#try3{
  @extend #try;
  margin-top: 40px;
  font-size: 20px;

  &:hover{
    //box-shadow: white 0 0 15px 3px;
    transition: 0.2s;
  }
}

/*-------------------------------------------CONTACT------------------------------------------------------*/
#last{
  background-color: white;
  position: relative;
  z-index: 900;
  top:65vh;
}

.portrait{
  padding:5% 0 5%;

  h1{
    margin-top: 50px;
  }
}

#try4{
  @extend #try;
  font-size:20px;
  margin-bottom: 20px;

  &:hover{
    //box-shadow: white 0 0 10px 3px;
    transition: 0.2s;
  }
}

#last p{
  padding-bottom: 90px;
}


/*-------------------------------------------FOOTER------------------------------------------------------*/

.footer{
  position: relative;
  z-index: 900;
  top:65vh;
  background-color: $leocolor;
  color: $backgroundcolor;
  font-size: 15px;
}

.footer p{
  padding: 15px 10px 15px 0;
  margin: 0;
  display: inline-block;
}

.footer img{
  //float: right;
  margin: 0 6px 0 6px;
}
