@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 200;
  src: local("Catamaran ExtraLight"), local("Catamaran-ExtraLight"), url(https://fonts.gstatic.com/s/catamaran/v1/hFc-HKSsGk6M-psujei1MBampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
body {
  font-family: "Catamaran", "Lucida Sans", sans-serif;
  letter-spacing: 0.5px;
  font-weight: lighter; }

.row {
  margin: 0 3% 0 3%; }

#overlay-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  display: none;
  z-index: 950; }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; }

#close {
  font-size: 13px;
  float: right;
  position: relative;
  bottom: 3%;
  background-color: #283e4a;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: none; }

#close-m {
  font-size: 20px;
  float: right;
  position: relative;
  bottom: 3%;
  background-color: white;
  color: #283e4a;
  border: none; }

#submit {
  margin-top: 15px;
  font-size: 20px;
  background-color: #24bb6f;
  color: white;
  border: 1px solid #24bb6f;
  border-radius: 2px; }
  #submit:hover {
    transition: 0.2s; }

#submit-m {
  margin-top: 3%;
  font-size: 20px;
  background-color: #24bb6f;
  color: white;
  border: 1px solid #24bb6f;
  border-radius: 2px; }
  #submit-m:hover {
    transition: 0.2s; }

@media screen and (max-width: 568px) {
  form {
    height: auto; }

  #form-m {
    display: none;
    background-color: white;
    position: fixed;
    z-index: 1300;
    top: 2%;
    left: 3%;
    height: 96%;
    width: 94%;
    padding: 5% 0 5% 0;
    color: #595959; }
    #form-m h3 {
      margin: 0 0 5% 5%;
      color: #283e4a;
      text-align: left;
      font-size: 20px;
      position: relative;
      left: 2%; }
    #form-m label {
      margin-bottom: 0; }

  #form {
    display: none;
    background-color: white;
    position: fixed;
    z-index: 1000;
    bottom: 9%;
    top: 7%;
    left: 10%;
    height: 550px;
    width: 80%;
    padding: 30px 20px 30px 20px;
    color: #595959; }
    #form h3 {
      margin: 0 70px 30px 70px;
      color: #283e4a; }
    #form label {
      margin-bottom: 0; }

  .form-control {
    border-radius: 0;
    background-color: rgba(255, 250, 240, 0.8);
    border: 1px solid #d6d1c9;
    box-shadow: inset 0 0 0; } }
@media screen and (min-width: 569px) and (max-width: 1024px) {
  #form {
    display: none;
    background-color: white;
    position: fixed;
    z-index: 1000;
    bottom: 9%;
    top: 7%;
    left: 10%;
    height: 550px;
    width: 80%;
    padding: 30px 20px 30px 20px;
    color: #595959; }
    #form h3 {
      margin: 0 0 30px 0;
      color: #283e4a; }
    #form label {
      margin-bottom: 0; }

  #form-m {
    display: none;
    background-color: white;
    position: fixed;
    z-index: 1000;
    bottom: 9%;
    top: 7%;
    left: 10%;
    height: 550px;
    width: 80%;
    padding: 30px 20px 30px 20px;
    color: #595959; }
    #form-m h3 {
      margin: 0 70px 30px 70px;
      color: #283e4a; }
    #form-m label {
      margin-bottom: 0; }

  .form-control {
    border-radius: 0;
    background-color: rgba(255, 250, 240, 0.8);
    border: 1px solid #d6d1c9; } }
@media screen and (min-width: 1025px) {
  #form {
    display: none;
    background-color: white;
    position: fixed;
    z-index: 1000;
    bottom: 9%;
    top: 10%;
    left: 28%;
    height: 550px;
    width: 45%;
    padding: 30px 20px 30px 20px;
    color: #595959; }
    #form h3 {
      margin: 0 0 30px 30px;
      color: #283e4a; }
    #form label {
      margin-bottom: 0; }
    #form .form-control {
      border-radius: 0;
      background-color: rgba(255, 250, 240, 0.8);
      border: 1px solid #d6d1c9; }

  #form-m {
    display: none;
    background-color: white;
    position: fixed;
    z-index: 1000;
    bottom: 9%;
    top: 7%;
    left: 10%;
    height: 550px;
    width: 80%;
    padding: 30px 20px 30px 20px;
    color: #595959; }
    #form-m h3 {
      margin: 0 70px 30px 70px;
      color: #283e4a; }
    #form-m label {
      margin-bottom: 0; } }
#leopouce {
  display: none; }

#valid, #valid-m {
  font-size: 23px;
  margin: 10px 0 0 0;
  display: none;
  background-color: rgba(0, 128, 0, 0.08);
  padding: 15px 10px 10px 10px;
  border-radius: 3px;
  border: 1px solid rgba(0, 128, 0, 0.08);
  box-shadow: 0 0 0 0 #24bb6f;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1); }
@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); } }
@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); } }
@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); } }
@keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); } }
  #valid p, #valid-m p {
    text-align: left; }

#valid-m {
  font-size: 14px;
  margin: 0 0 0 3px;
  padding: 5px;
  float: left; }

#existing, #existing-m, #wrong, #wrong-m, #empty-m {
  display: none;
  font-size: 16px;
  color: #ff0000;
  margin-right: 10px; }

#existing-m {
  font-size: 14px;
  margin: 0 0 0 3px;
  padding: 5px;
  float: left; }

#wrong-m {
  font-size: 14px;
  margin: 0 0 0 3px;
  padding: 5px;
  float: left; }

#empty-m {
  font-size: 14px;
  margin: 0 0 0 3px;
  padding: 5px;
  float: left; }

h1 {
  font-size: 35px;
  color: #283e4a; }

/*-------------------------------------------NAVBAR------------------------------------------------------*/
/*@media (max-width:480px) {
  #text-machine{
    display: none;
  }

  #head-machine{
    display: none;
  }

  #right-machine{
    display:none;
  }

  #text-mobile{
    color: whitesmoke;
    margin: 0;

    img{
      background-color:white;
      border-radius: 20px;
      padding: 1px;
    }
  }

  #try{
    font-size:16px;
    background-color: $buttoncolor;
    color: white;
    border-radius: 2px;
    font-weight: bold;
    margin-left: 49px;

    &:hover{
      //box-shadow: white 0 0 10px 3px;
      transition: 0.2s;
      //border: solid 1px white;
    }
  }
}*/
@media screen and (max-width: 320px) {
  .navbar-fixed-top {
    background-color: #283e4a;
    border: none;
    padding: 0 8px 0 8px; }

  .navbar-header {
    padding-top: 5px; }
    .navbar-header img {
      background-color: white;
      border-radius: 60px;
      margin-top: 5px;
      padding: 1px;
      vertical-align: center;
      display: inline-block;
      width: 32px;
      height: 32px; }
    .navbar-header p {
      font-size: 12px;
      color: whitesmoke;
      display: inline-block;
      padding-left: 3px; }

  .navbar-text {
    font-size: 16px;
    color: whitesmoke;
    margin-bottom: 0;
    display: none; }

  #nav-leo, #nav-question {
    font-size: 16px;
    color: whitesmoke;
    display: inline-block;
    font-weight: bold; }

  .navbar-default .navbar-text {
    color: #eeeeee; }

  .navbar-right {
    margin: 0; }

  #try {
    display: none;
    font-size: 16px;
    background-color: #24bb6f;
    color: white;
    border-radius: 2px; }
    #try:hover {
      transition: 0.5s;
      border: solid 1px white; } }
@media screen and (min-width: 321px) and (max-width: 568px) {
  .navbar-fixed-top {
    background-color: #283e4a;
    border: none;
    padding: 0 10px 0 10px; }

  .navbar-header {
    padding-top: 5px; }
    .navbar-header img {
      background-color: white;
      border-radius: 60px;
      margin-top: 5px;
      padding: 1px;
      vertical-align: center;
      display: inline-block;
      width: 32px;
      height: 32px; }
    .navbar-header p {
      font-size: 14px;
      color: whitesmoke;
      display: inline-block;
      padding-left: 10px; }

  .navbar-text {
    font-size: 16px;
    color: whitesmoke;
    margin-bottom: 0;
    display: none; }

  #nav-leo, #nav-question {
    font-size: 16px;
    color: whitesmoke;
    display: inline-block; }

  .navbar-default .navbar-text {
    color: #eeeeee; }

  .navbar-right {
    margin: 0; }

  #try {
    display: none;
    font-size: 16px;
    background-color: #24bb6f;
    color: white;
    border-radius: 2px; }
    #try:hover {
      transition: 0.5s;
      border: solid 1px white; } }
@media screen and (min-width: 569px) {
  .navbar-fixed-top {
    background-color: #283e4a;
    border: none;
    padding: 0 15px 0 15px; }

  .navbar-header img {
    background-color: white;
    border-radius: 50px;
    margin-top: 6px;
    padding: 1px; }
  .navbar-header p {
    display: none; }

  .navbar-text {
    font-size: 16px;
    color: whitesmoke;
    margin-bottom: 0; }

  #nav-leo, #nav-question {
    font-size: 16px;
    color: whitesmoke;
    display: inline-block; }

  .navbar-default .navbar-text {
    color: #eeeeee; }

  .navbar-right {
    margin: 0; }

  #try {
    font-size: 16px;
    background-color: #24bb6f;
    color: white;
    border-radius: 2px; }
    #try:hover {
      transition: 0.5s;
      border: solid 1px white; } }
/*-------------------------------------------HEADER------------------------------------------------------*/
@media screen and (max-width: 568px) {
  .header {
    width: 100%;
    height: 65vh;
    background: url("../../img/ourclients.jpg") no-repeat center center;
    background-size: cover;
    background-position-y: 50px;
    position: fixed;
    z-index: 100; }

  .message {
    position: relative;
    top: initial;
    left: initial;
    right: initial;
    padding: 30px 0;
    transform: none; }
    .message h1 {
      font-size: 40px;
      color: #FFF;
      margin: 20% 0 10% 0; }
    .message #desc-m {
      color: #fff;
      font-size: 15px; }

  #desc {
    display: none; }

  #try2 {
    display: none;
    background-color: #24bb6f;
    color: white;
    border-radius: 2px;
    margin-top: 10%;
    margin-bottom: 2%;
    font-size: 15px; }

  #try2-m {
    display: block;
    background-color: #24bb6f;
    color: white;
    border-radius: 2px;
    margin-top: 10%;
    margin-bottom: 2%;
    font-size: 15px; } }
@media screen and (min-width: 569px) {
  .header {
    margin-top: 50px;
    height: 58vh;
    background: url("../../img/ourclients.jpg") no-repeat center center;
    background-size: cover; }

  .message {
    max-width: 90%;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    transform: translateY(-50%); }
    .message h1 {
      font-size: 45px;
      color: #FFF; }
    .message #desc {
      color: #fff;
      font-size: 24px; }

  #desc-m {
    display: none; }

  #try2 {
    display: block;
    margin: 5% 0 7% 0%;
    font-size: 20px;
    background-color: #24bb6f;
    color: white;
    border-radius: 2px;
    border: 1px solid #24bb6f;
    box-shadow: 0 0 0 0 #00864f;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1); }
    #try2:hover {
      transition: 0.5s;
      border: 1px solid white;
      -webkit-animation: none;
      -moz-animation: none;
      -ms-animation: none;
      animation: none; }
  @-webkit-keyframes pulse {
    to {
      box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); } }
  @-moz-keyframes pulse {
    to {
      box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); } }
  @-ms-keyframes pulse {
    to {
      box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); } }
  @keyframes pulse {
    to {
      box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); } }
  #try2-m {
    display: none;
    background-color: #24bb6f;
    color: white;
    border-radius: 2px;
    margin-top: 10%;
    margin-bottom: 2%;
    font-size: 15px; } }
/*
#try2{
  @extend #try;
  margin-top: 40px;
  margin-bottom:7%;
  font-size: 20px;
  font-weight: lighter;

  &:hover{
    @extend #try;
    //box-shadow: white 0 0 20px 1px;
    font-size: 20px;
    font-weight: lighter;
    //border: none;
  }
}
*/
/*-------------------------------------------LEO------------------------------------------------------*/
@media screen and (max-width: 568px) {
  .leo {
    background-color: #eeeeee;
    padding: 3% 0 4% 0;
    position: relative;
    z-index: 900; }

  #leo, #linkedin {
    color: #48649c;
    display: inline-block; }

  .description {
    padding: 1% 0 0 0;
    font-size: 19px;
    text-align: center; }

  #bold-prospect {
    display: inline-block; } }
@media screen and (min-width: 569px) {
  .leo {
    background-color: #eeeeee;
    padding: 3% 0 4% 0;
    position: relative;
    z-index: 900; }

  #leo, #linkedin {
    color: #48649c;
    display: inline-block; }

  .description {
    padding: 1% 0 0 0;
    font-size: 19px;
    text-align: center; }

  #bold-prospect {
    display: inline-block; } }
/*-------------------------------------------LINKEDIN------------------------------------------------------*/
.linkedin {
  background-color: white;
  padding: 3% 0 4% 0;
  position: relative;
  z-index: 900; }

.users, .time, .messages {
  margin-top: 8%;
  width: 90%; }
  .users p, .time p, .messages p {
    padding: 10% 0 0 0;
    font-size: 18px;
    text-align: center; }

.mail, .hourglass, .profils {
  background-color: whitesmoke;
  width: 75px;
  height: 75px;
  border-radius: 150px;
  border: 1px solid #eeeeee;
  padding-top: 20px; }

/*
.users, .time, .messages{
  margin-top: 8%;
  width: 90%;
  // border-top: solid 2px $linkedin;
  //background-color: rgba(52, 97, 156, 0.04);

  p{
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-align: center;
    display: inline-flex;
  }
}


#bold-users, #bold-hours, #bold-messages{
  font-weight: bold;
  display: inline-flex;
  padding: 0;
}

#users, #hours, #messages{
  display: inline-flex;
  padding: 0;
}
*/
.mail, .hourglass, .profils {
  background-color: whitesmoke;
  width: 75px;
  height: 75px;
  border-radius: 150px;
  border: 1px solid #eeeeee;
  padding-top: 20px; }

/*-------------------------------------------MISSIONS------------------------------------------------------*/
.missions {
  background-color: #eeeeee;
  padding: 3% 0 6% 0;
  position: relative;
  z-index: 900; }
  .missions img {
    float: left;
    margin: 10px;
    padding: 5px; }

#mi {
  color: #48649c;
  display: inline-block; }

.title {
  background-color: white;
  display: inline-block;
  width: 80%;
  margin-top: 60px;
  box-shadow: 0 0 50px 8px white; }
  .title p {
    padding-top: 20px;
    font-size: 22px;
    margin-right: 20px;
    text-transform: uppercase;
    color: #283e4a; }

.text {
  padding: 10px 20px 0 0;
  width: 80%; }
  .text p {
    padding: 10px 0 10px 0;
    color: #283e4a;
    font-size: 18px; }

/*-------------------------------------------COMMENT------------------------------------------------------*/
@media screen and (max-width: 568px) {
  .one, .two, .three {
    display: none; }

  .one-m {
    border-radius: 200px;
    background-color: #6590a6;
    font-size: 40px;
    width: 70px;
    height: 70px;
    color: #eeeeee; }
    .one-m p {
      padding-top: 7px; }

  .two-m {
    border-radius: 200px;
    background-color: #4e94bb;
    font-size: 40px;
    width: 70px;
    height: 70px;
    color: #eeeeee; }
    .two-m p {
      padding-top: 7px; }

  .three-m {
    border-radius: 200px;
    background-color: #386ab0;
    font-size: 40px;
    width: 70px;
    height: 70px;
    color: #eeeeee; }
    .three-m p {
      padding-top: 7px; }

  .border {
    display: none; }

  .screenshot {
    display: none; } }
#perf {
  display: inline-block; }

.comment {
  padding: 3% 0 3% 0;
  background-color: #283e4a;
  position: relative;
  z-index: 900; }
  .comment h1 {
    color: #eeeeee;
    padding: 0 0 5% 0; }

@media screen and (min-width: 569px) {
  .one {
    display: inline-block;
    border-radius: 200px;
    background-color: #87a5cf;
    font-size: 40px;
    width: 70px;
    height: 70px;
    color: #eeeeee; }
    .one p {
      padding-top: 7px; }

  .two {
    display: inline-block;
    border-radius: 200px;
    background-color: #687f9f;
    font-size: 40px;
    width: 70px;
    height: 70px;
    color: #eeeeee; }
    .two p {
      padding-top: 7px; }

  .three {
    display: inline-block;
    border-radius: 200px;
    background-color: #455469;
    font-size: 40px;
    width: 70px;
    height: 70px;
    color: #eeeeee; }
    .three p {
      padding-top: 7px; }

  .border {
    display: inline-block;
    width: 28%;
    border-top: 3px solid #eeeeee; }

  .screenshot {
    margin: 3% 0 3% 0; }

  .one-m {
    display: none; }

  .two-m {
    display: none; }

  .three-m {
    display: none; } }
.stapes {
  color: white;
  margin: 10% 10% 10% 10%;
  text-align: center;
  font-size: 18px; }

/*-------------------------------------------PRICING------------------------------------------------------*/
.pricing {
  background-color: #eeeeee;
  padding: 3% 0 5% 0;
  position: relative;
  z-index: 900; }

@media screen and (max-width: 568px) {
  .list {
    padding: 3% 0 4% 0;
    display: inline-block; }
    .list p {
      padding: 11% 0 0 0;
      border-top: solid 1px;
      width: 260px; }
    .list i {
      float: right; }

  .junior, .confirme, .expert {
    background-color: white;
    margin: 10% 0 8% 0;
    box-shadow: 0 0 40px 8px white; }
    .junior p, .confirme p, .expert p {
      font-size: 18px;
      letter-spacing: 0.5px;
      text-align: left;
      line-height: 19px; }
    .junior h2, .confirme h2, .expert h2 {
      color: #00a2f8;
      margin-top: 10px; }
    .junior h3, .confirme h3, .expert h3 {
      margin: 0;
      line-height: 0.4; }

  .juniorprice-m, .confirmeprice-m, .expertprice-m {
    display: block;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 1% 0 2% 0;
    color: white;
    letter-spacing: 1px;
    border: solid 1px #00a2f8;
    background-color: #00a2f8;
    width: 100%; }
    .juniorprice-m p, .confirmeprice-m p, .expertprice-m p {
      font-size: 27px; }

  .juniorprice, .confirmeprice, .expertprice {
    display: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 1% 0 2% 0;
    color: white;
    letter-spacing: 1px;
    border: solid 1px #00a2f8;
    background-color: #00a2f8;
    width: 100%; }
    .juniorprice p, .confirmeprice p, .expertprice p {
      font-size: 27px; } }
@media screen and (min-width: 569px) {
  .list {
    padding: 3% 0 4% 0;
    display: inline-block; }
    .list p {
      padding: 11% 0 0 0;
      border-top: solid 1px;
      width: 280px; }
    .list i {
      float: right; }

  .junior, .confirme, .expert {
    background-color: white;
    margin: 10% 5% 0 5%;
    box-shadow: 0 0 40px 8px white; }
    .junior p, .confirme p, .expert p {
      font-size: 18px;
      letter-spacing: 0.5px;
      text-align: left;
      line-height: 19px; }
    .junior h2, .confirme h2, .expert h2 {
      color: #00a2f8;
      margin-top: 10px; }
    .junior h3, .confirme h3, .expert h3 {
      margin: 0;
      line-height: 0.4; }

  .juniorprice, .confirmeprice, .expertprice {
    display: block;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 1% 0 2% 0;
    color: white;
    letter-spacing: 1px;
    border: none;
    background-color: rgba(0, 167, 255, 0.35);
    width: 90%; }
    .juniorprice p, .confirmeprice p, .expertprice p {
      font-size: 27px; }

  .juniorprice-m, .confirmeprice-m, .expertprice-m {
    display: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 1% 0 2% 0;
    color: white;
    letter-spacing: 1px;
    border: solid 1px #00a2f8;
    background-color: #00a2f8;
    width: 100%; }
    .juniorprice-m p, .confirmeprice-m p, .expertprice-m p {
      font-size: 27px; } }
#cent {
  color: #00a2f8; }

#cinq, #mille {
  color: #0072b0; }

.confirme h2 {
  color: #0072b0; }

.expert h2 {
  color: #004163; }

#mille {
  color: #004163; }

.fa-check-circle {
  color: #28c368; }

.confirmeprice {
  background-color: rgba(0, 114, 176, 0.35); }

.confirmeprice-m {
  border: solid 1px #0072b0;
  color: #0072b0; }

.expertprice {
  background-color: rgba(0, 65, 99, 0.36); }

.expertprice-m {
  border: solid 1px #004163;
  background-color: #004163; }

.engagement p {
  font-size: 18px;
  line-height: 0.1; }

.gratis {
  margin-top: 50px; }

@media screen and (max-width: 568px) {
  #try3 {
    display: none;
    font-size: 16px;
    background-color: #24bb6f;
    color: white;
    border-radius: 2px;
    border: none;
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1); }
    #try3:hover {
      transition: 0.5s;
      border: solid 1px white; }

  #try3-m {
    display: block;
    font-size: 16px;
    background-color: #24bb6f;
    color: white;
    border-radius: 2px; }
    #try3-m:hover {
      transition: 0.5s;
      border: solid 1px white; } }
@media screen and (min-width: 569px) {
  #try3 {
    display: block;
    background-color: #24bb6f;
    color: white;
    border-radius: 2px;
    margin-top: 40px;
    font-size: 26px;
    border: 1px solid #24bb6f;
    box-shadow: 0 0 0 0 #009357;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 1.6s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.6s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.6s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.6s infinite cubic-bezier(0.66, 0, 0, 1); }
    #try3:hover {
      margin-top: 40px;
      background-color: #27c777;
      border: 1px solid #27c777;
      -webkit-animation: none;
      -moz-animation: none;
      -ms-animation: none;
      animation: none; }
  @-webkit-keyframes pulse {
    to {
      box-shadow: 0 0 0 5px rgba(232, 76, 61, 0); } }
  @-moz-keyframes pulse {
    to {
      box-shadow: 0 0 0 5px rgba(232, 76, 61, 0); } }
  @-ms-keyframes pulse {
    to {
      box-shadow: 0 0 0 5px rgba(232, 76, 61, 0); } }
  @keyframes pulse {
    to {
      box-shadow: 0 0 0 5px rgba(232, 76, 61, 0); } }
  #try3-m {
    display: none;
    font-size: 16px;
    background-color: #24bb6f;
    color: white;
    border-radius: 2px; }
    #try3-m:hover {
      transition: 0.5s;
      border: solid 1px white; } }
/*-------------------------------------------CONTACT------------------------------------------------------*/
#last {
  background-color: white;
  position: relative;
  z-index: 900; }

@media screen and (max-width: 568px) {
  .portrait {
    padding: 7% 0 0; }
    .portrait h1 {
      margin: 10px 0 10px 0; }

  #last p {
    padding: 0 20px 40px 20px;
    margin: 0; }
  #last img {
    width: 40%;
    height: 40%; }

  #try4 {
    display: none;
    font-size: 16px;
    background-color: #24bb6f;
    color: white;
    border-radius: 2px;
    margin-top: 20%;
    margin-bottom: 10px; }
    #try4:hover {
      transition: 0.2s;
      background-color: #65bb8e;
      border: solid 1px #24bb6f; }

  #try4-m {
    display: block;
    font-size: 16px;
    background-color: #24bb6f;
    color: white;
    border-radius: 2px;
    margin-top: 20%;
    margin-bottom: 10px; }
    #try4-m:hover {
      transition: 0.2s;
      background-color: #008bd4;
      border: solid 1px #24bb6f; } }
@media screen and (min-width: 569px) {
  #last p {
    padding: 0 20px 90px 20px; }

  #try4 {
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #24bb6f;
    color: white;
    border-radius: 2px;
    border: 1px solid #24bb6f;
    box-shadow: 0 0 0 0 #00864f;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1); }
    #try4:hover {
      background-color: #27c777;
      border: 1px solid #27c777;
      -webkit-animation: none;
      -moz-animation: none;
      -ms-animation: none;
      animation: none; }
  @-webkit-keyframes pulse {
    to {
      box-shadow: 0 0 0 5px rgba(232, 76, 61, 0); } }
  @-moz-keyframes pulse {
    to {
      box-shadow: 0 0 0 5px rgba(232, 76, 61, 0); } }
  @-ms-keyframes pulse {
    to {
      box-shadow: 0 0 0 5px rgba(232, 76, 61, 0); } }
  @keyframes pulse {
    to {
      box-shadow: 0 0 0 5px rgba(232, 76, 61, 0); } }
  #try4-m {
    display: none;
    font-size: 16px;
    background-color: #24bb6f;
    color: white;
    border-radius: 2px;
    margin-top: 20%;
    margin-bottom: 10px; }
    #try4-m:hover {
      transition: 0.2s;
      background-color: #008bd4;
      border: solid 1px #24bb6f; }

  .portrait {
    padding: 5% 0 5%; }
    .portrait h1 {
      margin-top: 50px; } }
/*-------------------------------------------FOOTER------------------------------------------------------*/
@media screen and (max-width: 568px) {
  .footer-m {
    display: block;
    position: relative;
    z-index: 900;
    background-color: #283e4a;
    color: #eeeeee;
    font-size: 15px; }

  .footer-m p {
    font-size: 10px;
    padding: 15px 0 0 0; }

  .footer-m img {
    margin: 15px 7px 0 7px; }

  .footer {
    display: none; } }
@media screen and (min-width: 569px) {
  .footer {
    position: relative;
    z-index: 900;
    background-color: #283e4a;
    color: #eeeeee;
    font-size: 15px; }

  .footer p {
    padding: 15px 40px 15px 0;
    margin: 0;
    display: inline-block;
    font-size: 14px; }

  .footer img {
    margin: 15px 7px 0 7px; }

  .footer-m {
    display: none; }

  .contact {
    text-align: right; } }

/*# sourceMappingURL=style.css.map */
