@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 200;
  src: local('Catamaran ExtraLight'), local('Catamaran-ExtraLight'), url(https://fonts.gstatic.com/s/catamaran/v1/hFc-HKSsGk6M-psujei1MBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body{
  font-family: "Catamaran", "Lucida Sans", sans-serif;
  letter-spacing: 0.5px;
  font-weight: lighter;
}

.row{
  margin : 0 3% 0 3%;
}

$leocolor : rgb(40, 62, 74);
$leolinkcolor: rgb(72, 100, 156);
$buttoncolor : rgb(36, 187, 111);
$oldbuttoncolor : rgb(56, 106, 176);
//$oldbuttoncolor : rgb(0, 119, 181);
$backgroundcolor : #eeeeee;
$juniorcolor: rgb(0, 162, 248);
$confirmecolor: rgb(0, 114, 176);
$expertcolor : rgb(0, 65, 99);

#overlay-back {
  position   : fixed;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 100%;
  background : #000;
  opacity    : 0.6;
  filter     : alpha(opacity=60);
  display    : none;
  z-index    : 950;
}

#overlay {
  position : fixed;
  top      : 0;
  left     : 0;
  width    : 100%;
  height   : 100%;
  display  : none;
}

#close{
  font-size: 13px;
  float: right;
  position: relative;
  bottom:3%;
  background-color: $leocolor;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: none;
}

#close-m{
  font-size: 20px;
  float: right;
  position: relative;
  bottom:4%;
  //left: 1%;
  background-color: white;
  color: $leocolor;
  border: none;
  // width: 20px;
  //height: 30px;
  //border-radius: 100px;
  //border: solid 1px $leocolor;
}

#submit{
  margin-top: 15px;
  font-size:20px;
  // font-weight: bold;
  background-color: $buttoncolor;
  color: white;
  border: 1px solid $buttoncolor;
  border-radius: 2px;

  &:hover {
    //box-shadow: white 0 0 10px 3px;
    transition: 0.2s;
    //border: solid 1px white;
  }
}

#submit-m{
  margin-top: 3%;
  font-size:30px;
  //  font-weight: bold;
  background-color: $buttoncolor;
  color: white;
  border: 1px solid $buttoncolor;
  border-radius: 2px;

  &:hover {
    //box-shadow: white 0 0 10px 3px;
    transition: 0.2s;
    //border: solid 1px white;
  }
}

#form{
  display: none;
  background-color: white;
  position: fixed;
  z-index:1000;
  bottom:9%;
  top:10%;
  left:25%;
  height:550px;
  width: 50%;
  padding: 30px 20px 30px 20px;
  color: #595959;
  //border: 3px solid $buttoncolor;
  //box-shadow: 0 0 100px 5px #101010;

  h3{
    margin: 0 0 30px 30px;
    color: $leocolor;
  }

  label{
    margin-bottom: 0;
  }
}

#existing{
  //@extend #valid;
  display: none;
  font-size:16px;
  color: #ff0000;
  //background-color: rgba(255, 0, 0, 0.06);
  margin-right: 10px;
}

#existing-m{
  @extend #existing;
  font-size:20px;
  margin: 0 0 0 3px;
  padding-bottom: 5px;
  float: left;
}

#valid{
  font-size:23px;
  margin: 5% 0 0 0;
  display: none;
  //color: rgba(7, 41, 24, 0.87);
  //float: right;
  background-color: rgba(0, 128, 0, 0.08);
  padding: 15px 10px 10px 10px;
  border-radius: 3px;

  //position: relative;
  //width: 100px;
  //height: 100px;
  border: 1px solid rgba(0, 128, 0, 0.08);
  box-shadow: 0 0 0 0 $buttoncolor;
  //border-radius: 50%;
  //background-color: #e84c3d;
  background-size:cover;
  background-repeat: no-repeat;
  -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);

  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
  @-moz-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
  @-ms-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
  @keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}

  p{
    text-align: left;
  }
}

#valid-m{
  @extend #valid;
  font-size:29px;
  padding: 5px;
  float: left;
  text-align: center;
}

.opacity{

}

#wrong{
  @extend #existing;
}

#wrong-m{
  @extend #wrong;
  font-size:20px;
  margin: 0 0 0 3px;
  padding-bottom: 5px;
  float: left;
}


#empty-m{
  @extend #wrong;
  font-size:20px;
  margin: 0 0 0 3px;
  padding-bottom: 5px;
  float: left;
}

#form-m{
  display: none;
  background-color: white;
  position: fixed;
  z-index:1000;
  bottom:9%;
  top:7%;
  height:100%;
  width: 100%;
  padding: 30px 0 30px 0;
  color: #595959;
  //border: 3px solid $buttoncolor;
  //box-shadow: 0 0 100px 5px #101010;

  h3{
    color: $leocolor;
    font-size: 35px;
  }

  label{
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px){
  #form-m{
    h3{
      margin:0 0 5% 7%;
      font-size: 30px;
    }

    .input-lg{
      font-size: 20px;
    }
  }

  #valid-m{
    margin: 5% 0 0 0;
    font-size: 20px;
  }

  #submit-m{
    font-size: 25px;
    margin: 0;
  }

  #existing-m, #wrong-m, #empty-m{
    font-size: 15px;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px){
  #form-m{
    h3{
      margin:0 0 5% 7%;
    }

    .input-lg{
      font-size: 23px;
      //height: 10%;
    }
  }

  #valid-m{
    margin: 5% 0 0 0;
  }
}

@media screen and (min-width: 376px){
  #form-m{
    h3{
      margin: 5% 0 7% 7%;
    }

    .input-lg{
      font-size: 25px;
      height: 10%;
    }
  }

  #valid-m{
    margin: 5% 0 0 3px;
  }
}

.form-control{
  border-radius: 0;
  background-color: rgba(255, 250, 240, 0.8);
  border: 1px solid #d6d1c9;
}


.form-group{
  //margin: 0 15px 20px 15px;
}

#leopouce{
  display: none;
}

h1{
  color: $leocolor;
}

@media screen and (min-width: 320px){
  h1{
    font-size: 30px;
  }
}

@media screen and (min-width: 321px) and (max-width: 414px){
  h1{
    font-size: 40px;
  }
}

@media screen and (min-width: 415px){
  h1{
    font-size: 35px;
  }
}

/*-------------------------------------------NAVBAR------------------------------------------------------*/

@media screen and (max-width: 320px){

  .navbar-text, .navbar-right {
    display: none;
  }

  #nav-question-mobile{
    display: inline-block;
    color: white;
    font-size: 12px;
    margin: 4% 0 0 1%;
  }

  .navbar-header {
    img{
      display: inline-block;
      margin-top: 0;
    }
  }

  .navbar-fixed-top{
    padding: 1% 0 0 1%;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px){

  .navbar-text, .navbar-right {
    display: none;
  }

  #nav-question-mobile{
    display: inline-block;
    color: white;
    font-size: 14px;
    margin: 4% 0 0 1%;
  }

  .navbar-header {
    img{
      display: inline-block;
      margin-top: 0;
    }
  }

  .navbar-fixed-top{
    padding: 0 0 0 1%;
  }
}

@media screen and (min-width: 376px) and (max-width: 414px){

  .navbar-text, .navbar-right {
    display: none;
  }

  #nav-question-mobile{
    display: inline-block;
    color: white;
    font-size: 16px;
    margin: 4% 0 0 1%;
  }

  .navbar-header {
    img{
      display: inline-block;
      margin-top: 0;
    }
  }

  .navbar-fixed-top{
    padding: 0 2% 0 3%;
  }
}

@media screen and (min-width: 415px) {

  .navbar-header {
    img{
      margin-top: 6px;
    }
  }

  .navbar-fixed-top{
    padding: 0 15px 0 15px;
  }
}

.navbar-fixed-top{
  background-color: $leocolor;
  border: none;
}

.navbar-header {
  img{
    background-color: white;
    border-radius: 50px;
    padding: 1px;
  }

  p{
    display: none;
  }
}

.navbar-text {
  font-size: 16px;
  color: whitesmoke;
  margin-bottom: 0;
}

#nav-leo, #nav-question{
  font-size: 16px;
  color: whitesmoke;
  display: inline-block;
  // font-weight: bold;
}

.navbar-default .navbar-text{
  color: $backgroundcolor;
}

.navbar-right{
  margin: 0;
}

#try{
  font-size:16px;
  background-color: $buttoncolor;
  color: white;
  border-radius: 2px;
  //   font-weight: bold;

  &:hover{
    transition: 0.5s;
    border: solid 1px white;
  }
}


/*-------------------------------------------HEADER------------------------------------------------------*/

@media screen and (max-width: 320px) {
  .message {
    margin-top: 70%;

    #desc {
      display: none;
    }

    h1 {
      font-size: 39px;
    }
  }

  #try2-m{
    display: block;
    margin: 20% 0 10% 0;
    font-size: 20px;
  }

  #try2{
    display: none;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .message {
    margin-top: 90%;

    #desc {
      display: none;
    }

    h1 {
      font-size: 47px;
    }
  }

  #try2-m{
    display: block;
    margin: 20% 0 10% 0;
    font-size: 25px;
  }

  #try2{
    display: none;
  }
}

@media screen and (min-width: 376px) and (max-width: 414px) {

  .message {
    margin-top: 90%;

    #desc {
      display: none;
    }

    h1 {
      font-size: 47px;
    }
  }

  #try2-m{
    display: block;
    margin: 20% 0 10% 0;
    font-size: 30px;
  }

  #try2{
    display: none;
  }

}

@media screen and (min-width: 415px) {

  .message {
    margin-top: 20%;

    h1 {
      font-size: 45px;
    }
  }

  #try2-m{
    display: none;
  }

  #try2{
    margin: 5% 0 0 0;
  }

}


.header {
  height: 100%;
  margin-top:50px;
  background: url('../../img/ourclients.jpg') no-repeat center center;
  background-size: cover;
  //background-position-y: 50px;
  //position: fixed;
  //z-index: 100;
}

.message {
  //max-width: 90%;
  //margin: auto;
  //position: absolute;
  //top: 40%;
  //left: 0;
  //right: 0;
  transform: translateY(-50%);
  //text-align: center;

  h1 {
    color: #FFF;
  }

  #desc {
    color: #fff;
    font-size: 24px;
  }
}

#desc-m{
  display: none;
}

#try2{
  font-size: 20px;
  //  font-weight: lighter;
  background-color: $buttoncolor;
  color: white;
  border-radius: 2px;
  //border: solid 1px #2b74ed;

  //position: relative;
  //width: 100px;
  //height: 100px;
  border: 1px solid $buttoncolor;
  box-shadow: 0 0 0 0 #00864f;
  //border-radius: 50%;
  //background-color: #e84c3d;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);

  &:hover{
    transition: 0.5s;
    //border: solid 1px white;
    //background-color: #2b74ed;
    border: 1px solid white;
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  }

  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
  @-moz-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
  @-ms-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
  @keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
}


#try2-m{
  //  font-weight: lighter;
  background-color: $buttoncolor;
  color: white;
  border-radius: 2px;
  //border: solid 1px #2b74ed;

  //position: relative;
  //width: 100px;
  //height: 100px;
  border: 1px solid $buttoncolor;
  box-shadow: 0 0 0 0 #00864f;
  //border-radius: 50%;
  //background-color: #e84c3d;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);

  &:hover{
    transition: 0.5s;
    //border: solid 1px white;
    //background-color: #2b74ed;
    border: 1px solid white;
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  }

  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
  @-moz-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
  @-ms-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
  @keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
}


/*-------------------------------------------LEO------------------------------------------------------*/

@media screen and (max-width: 320px){
  .description {
    font-size: 20px;
    margin: 15% 0 10% 0;
  }
}

@media screen and (min-width: 321px) and (max-width: 414px){
  .description {
    font-size: 25px;
    margin: 10% 0 5% 0;
  }
}

@media screen and (min-width: 321px) and (max-width: 414px){
  .description {
    font-size: 25px;
    margin: 10% 0 5% 0;
  }
}

@media screen and (min-width: 415px){
  .description {
    font-size: 19px;
  }
}

.leo {
  background-color: $backgroundcolor;
  padding: 3% 0 4% 0;
  position: relative;
  z-index: 900;
  //top: 65vh;
}

#leo {
  color: $leolinkcolor;
  display: inline-block;
  margin: 0;
}

.description {
  padding: 1% 0 0 0;
  text-align: center;
}

#bold-prospect {
  display: inline-block;
  //  font-weight: bold;
}

/*-------------------------------------------LINKEDIN------------------------------------------------------*/

@media screen and (max-width: 414px){
  .users, .time, .messages{
    margin-top: 15%;

    p{
      padding: 10% 0 0 0;
    }
  }

  .linkedin{
    padding:3% 0 10% 0;
  }
}

@media screen and (min-width: 415px){
  .users, .time, .messages{
    margin-top: 8%;

    p{
      padding: 10% 3% 0 3%;
    }
  }

  .linkedin{
    padding:3% 0 4% 0;
  }
}

.linkedin{
  background-color: white;
  position: relative;
  z-index: 900;
  //top:65vh;
}

#linkedin{
  @extend #leo;
}

.users, .time, .messages{
  width: 90%;
  // border-top: solid 2px $linkedin;
  //background-color: rgba(52, 97, 156, 0.04);

  p{
    font-size: 20px;
    text-align: center;
  }
}

.mail, .hourglass, .profils{
  background-color: whitesmoke;
  width: 75px;
  height: 75px;
  border-radius: 150px;
  border: 1px solid $backgroundcolor;
  padding-top: 20px;
}

.mail, .hourglass, .profils{
  background-color: whitesmoke;
  width: 75px;
  height: 75px;
  border-radius: 150px;
  border: 1px solid $backgroundcolor;
  padding-top: 20px;
}


/*-------------------------------------------MISSIONS------------------------------------------------------*/

.missions {
  background-color: $backgroundcolor;
  padding: 3% 0 6% 0;
  position: relative;
  z-index: 900;
  //top:65vh;

  img {
    float: left;
    padding: 5px;
  }
}

.text{
  padding:10px 20px 0 0;

  p{
    padding: 10px 0 10px 0;
    color: $leocolor;
    //  font-weight: bolder;
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .title{
    width: 100%;
    margin-top:8%;

    p{
      font-size: 15px;
      margin: 0 3% 6% ;
    }
  }

  .text{
    width: 100%;

    p{
      display: none;
    }
  }

  .missions {
    img {
      padding: 10px;
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .title{
    width: 100%;
    margin-top:8%;

    p{
      font-size: 16px;
      margin-right: 3%;
    }
  }

  .text{
    width: 100%;
    padding:10px 0 0 0;

    p{
      padding: 0 0 10px 0;
    }
  }

  .missions{
    img {
      margin: 5px;
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 414px) {
  .title{
    width: 100%;
    margin-top:8%;

    p{
      font-size: 20px;
      margin-right: 3%;
    }
  }

  .text{
    width: 100%;
    padding:10px 0 0 0;

    p{
      padding: 0 0 10px 0;
    }
  }

  .missions{
    img {
      margin: 5px;
    }
  }
}

@media screen and (min-width: 415px){
  .title{
    width: 80%;
    margin-top:60px;

    p{
      font-size: 22px;
      margin-right: 20px;
    }
  }

  .text{
    width: 80%;

    p{
      display: block;
    }
  }

  .missions{
    img {
      margin: 10px;
    }
  }
}



#mi{
  color: $leolinkcolor;
  display: inline-block;
}

.title{
  background-color: white;
  display: inline-block;
  box-shadow: 0 0 50px 8px rgb(255, 255, 255);

  p {
    padding-top: 20px;
    text-transform: uppercase;
    color: $leocolor;
  }
}



/*-------------------------------------------COMMENT------------------------------------------------------*/

@media screen and (max-width: 320px){
  .screenshot{
    display:  none;
  }

  .one-m, .two-m, .three-m{
    display: block;
  }

  .one, .two, .three{
    display: none;
  }

  .border{
    display : none;
  }

  .comment{

    h1{
      padding: 35% 0 60% 0;
      font-size: 40px;
    }
  }

  .stapes{
    margin:10% 10% 20% 10%;
  }

}

@media screen and (min-width: 321px) and (max-width: 414px){
  .screenshot{
    display:  none;
  }

  .one-m, .two-m, .three-m{
    display: block;
  }

  .one, .two, .three{
    display: none;
  }

  .border{
    display : none;
  }

  .comment{

    h1{
      padding: 35% 0 60% 0;
      font-size: 50px;
    }
  }

  .stapes{
    margin:10% 10% 20% 10%;
  }

}

@media screen and (min-width: 415px){
  .one-m, .two-m, .three-m{
    display: none;
  }

  .one, .two, .three{
    display: inline-block;
  }

  .border{
    display : inline-block;
  }

  .comment{

    h1{
      padding: 0 0 5% 0;
    }
  }

  .stapes{
    margin:10% 10% 10% 10%;
  }
}

#perf{
  //  font-weight: bold;
  display: inline-block;
}

.comment{
  padding: 3% 0 3% 0;
  background-color: $leocolor;
  position: relative;
  z-index: 900;
  //top:65vh;

  h1{
    color: $backgroundcolor;
  }
}

.one {
  border-radius: 200px;
  //background-color: rgb(101, 144, 166);
  background-color: #87a5cf;
  font-size: 40px;
  width: 70px;
  height: 70px;
  color: $backgroundcolor;

  p {
    padding-top: 7px;
    //  font-weight: bold;
  }
}

.two {
  border-radius: 200px;
  background-color: #687f9f;
  font-size: 40px;
  width: 70px;
  height: 70px;
  color: $backgroundcolor;

  p {
    padding-top: 7px;
    //    font-weight: bold;
  }
}

.three {
  border-radius: 200px;
  background-color: #455469;
  font-size: 40px;
  width: 70px;
  height: 70px;
  color: $backgroundcolor;

  p {
    padding-top: 7px;
    //    font-weight: bold;
  }
}

.border{
  width: 28%;
  border-top : 3px solid $backgroundcolor;
}

.screenshot{
  margin: 3% 0 3% 0;
}

.one-m{
  border-radius: 200px;
  //background-color: rgb(101, 144, 166);
  background-color: #87a5cf;
  font-size: 40px;
  width: 70px;
  height: 70px;
  color: $backgroundcolor;

  p {
    padding-top: 7px;
    //  font-weight: bold;
  }
}

.two-m{
  border-radius: 200px;
  background-color: #687f9f;
  font-size: 40px;
  width: 70px;
  height: 70px;
  color: $backgroundcolor;

  p {
    padding-top: 7px;
    //    font-weight: bold;
  }
}

.three-m{
  border-radius: 200px;
  background-color: #455469;
  font-size: 40px;
  width: 70px;
  height: 70px;
  color: $backgroundcolor;

  p {
    padding-top: 7px;
    //    font-weight: bold;
  }
}


.stapes{
  color:white;
  text-align: center;
  font-size: 20px;
}

/*-------------------------------------------PRICING------------------------------------------------------*/

@media screen and (max-width: 320px){
  .junior{
    margin: 20% 0 0 0;

    h5{
      display: none;
    }

    h2{
      font-size: 40px;
    }

    h3{
      font-size: 30px;
    }

    p{
      font-size:17px;
    }
  }

  #try3{
    display:none;
  }

  .juniorprice{
    width:100%;

    p{
      font-size: 35px;
    }
  }

  .list{
    p{
      width: 230px;
      padding: 15% 0 5% 0;
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 375px){
  .junior{
    margin: 20% 0 0 0;

    h5{
      display: none;
    }

    h2{
      font-size: 40px;
    }

    h3{
      font-size: 30px;
    }

    p{
      font-size:21px;
    }
  }

  #try3{
    display:none;
  }

  .juniorprice{
    width:100%;

    p{
      font-size: 35px;
    }
  }

  .list{
    p{
      width: 280px;
      padding: 15% 0 5% 0;
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 414px){
 .junior{
   margin: 20% 0 0 0;

   h5{
     display: none;
   }

   h2{
    font-size: 40px;
   }

   h3{
     font-size: 30px;
   }

   p{
     font-size:23px;
   }
 }

  #try3{
    display:none;
  }

  .juniorprice{
    width:100%;

    p{
      font-size: 35px;
    }
  }

  .list{
    p{
      width: 310px;
      padding: 15% 0 5% 0;
    }
  }
}

@media screen and (min-width: 415px){

  #try3{
    display:block;
  }

  .junior{

    margin: 10% 5% 0 5%;

    h5{
      display: block;
    }


    p{
      font-size:18px;
    }
  }

  .juniorprice{
    width:90%;

    p{
      font-size: 27px;
    }
  }


  .list{
    p{
      width: 280px;
      padding: 11% 0 0 0;
    }
  }

}

.pricing{
  background-color: $backgroundcolor;
  padding: 3% 0 5% 0;
  position: relative;
  z-index: 900;
  // top:65vh;
}


.list{
  padding:3% 0 4% 0;
  display: inline-block;

  p{
    border-top: solid 1px;
  }

  i{
    float: right;
  }
}

.test{
  //border-bottom: solid 1px red;
  //padding-bottom: 10px;
}

.junior{
  background-color: white;
  box-shadow: 0 0 40px 8px rgba(255, 255, 255, 1);

  p{
    letter-spacing: 0.5px;
    text-align: left;
    // font-weight: bold;
    line-height: 19px;
  }

  h2{
    color:$juniorcolor;
    margin-top:10px;
    //  font-weight: bold;
  }

  h3{
    margin:0;
    line-height: 0.4;
  }

}

.juniorprice{
  display: block;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius : 2px;
  padding:1% 0 2% 0;
  color:white;
  letter-spacing: 1px;
  border: none;
  background-color: rgba(0, 167, 255, 0.35);
  //margin: 0 10% 0 10%;
}

.juniorprice-m{
  display: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius : 2px;
  padding:1% 0 2% 0;
  color:white;
  letter-spacing: 1px;
  border: solid 1px $juniorcolor;
  background-color: $juniorcolor;
  //margin: 0 10% 0 10%;
  width:100%;

  p{
    font-size: 27px;
    //   font-weight: bold;
  }
}


#cent{
  color: $juniorcolor;
  //  font-weight: bold;
}

#cinq{
  color: $confirmecolor;
  //  font-weight: bold;
}

.confirme{
  @extend .junior;

  h2{
    color: $confirmecolor;
  }
}

.expert{
  @extend .junior;

  h2{
    color: $expertcolor;
  }
}

#mille{
  color: $expertcolor;
  @extend #cinq;
}

.fa-check-circle{
  color: #28c368;
}

.confirmeprice{
  @extend .juniorprice;
  //border: solid 1px $confirmecolor;
  background-color: rgba(0, 114, 176, 0.35)
}

.confirmeprice-m{
  @extend .juniorprice-m;
  border: solid 1px $confirmecolor;
  color: $confirmecolor;
}

.expertprice{
  @extend .juniorprice;
  //border: solid 1px $expertcolor;
  background-color: rgba(0, 65, 99, 0.36);
}

.expertprice-m{
  @extend .juniorprice-m;
  border: solid 1px $expertcolor;
  background-color: $expertcolor;
}

.engagement p{
  font-size: 18px;
  // font-weight: lighter;
  line-height: 0.1;
}

.gratis{
  margin-top: 50px;
}

#try3{
  background-color: $buttoncolor;
  color: white;
  border-radius: 2px;
  margin-top: 40px;
  font-size: 26px;
  // font-weight: lighter;
  //transition: all .3s ease-in-out;

  //position: relative;
  //width: 100px;
  //height: 100px;
  border: 1px solid $buttoncolor;
  box-shadow: 0 0 0 0 #009357;
  //border-radius: 50%;
  //background-color: #e84c3d;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.6s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.6s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.6s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.6s infinite cubic-bezier(0.66, 0, 0, 1);

  &:hover{
    //box-shadow: white 0 0 15px 3px;
    margin-top: 40px;
    background-color: #27c777;
    //  font-weight: bold;
    //transform: scale(1);
    border: 1px solid #27c777;
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  }

  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 5px rgba(232, 76, 61, 0);}}
  @-moz-keyframes pulse {to {box-shadow: 0 0 0 5px rgba(232, 76, 61, 0);}}
  @-ms-keyframes pulse {to {box-shadow: 0 0 0 5px rgba(232, 76, 61, 0);}}
  @keyframes pulse {to {box-shadow: 0 0 0 5px rgba(232, 76, 61, 0);}}
}

#try3-m {
  display: none;
  font-size: 16px;
  background-color: $buttoncolor;
  color: white;
  border-radius: 2px;
  //  font-weight: bold;

  &:hover {
    transition: 0.5s;
    border: solid 1px white;
  }
}



/*-------------------------------------------CONTACT------------------------------------------------------*/

@media screen and (max-width: 320px){
  .portrait{
    padding:25% 0 5%;
  }

  .button-test{
    display: none;
  }

  .button-test-m{
    display: block;
  }

  #last p{
    padding: 25% 0 30% 0;
    font-size: 19px;
  }

  .portrait{
    h1{
      margin-bottom: 40%;
    }
  }

  #try4-m{
    font-size: 20px;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px){
  .portrait{
    padding:25% 0 5%;
  }

  .button-test{
    display: none;
  }

  .button-test-m{
    display: block;
  }

  #last p{
    padding: 25% 0 30% 0;
    font-size: 19px;
  }

  .portrait{
    h1{
      margin-bottom: 40%;
    }
  }

  #try4-m{
    font-size: 25px;
  }
}


@media screen and (min-width: 376px) and (max-width: 414px){
  .portrait{
    padding:25% 0 5%;
  }

  .button-test{
    display: none;
  }

  .button-test-m{
    display: block;
  }

  #last p{
    padding: 25% 0 30% 0;
    font-size: 20px;
  }

  .portrait{
    h1{
      margin-bottom: 40%;
    }
  }

  #try4-m{
    font-size: 30px;
  }
}

@media screen and (min-width: 415px){

  .portrait{
    padding:5% 0 5%;
  }

  .button-test-m{
    display: none;
  }

  .button-test{
    display: block;
  }

  #last p{
    padding: 0 20px 90px 20px;
  }
}

#last{
  background-color: white;
  position: relative;
  z-index: 900;
  //top:65vh;
}

#try4{
  font-size:20px;
  margin-bottom: 20px;
  background-color: $buttoncolor;
  color: white;
  border-radius: 2px;
  //  font-weight: bold;

  //position: relative;
  //width: 100px;
  //height: 100px;
  border: 1px solid $buttoncolor;
  box-shadow: 0 0 0 0 #00864f;
  //border-radius: 50%;
  //background-color: #e84c3d;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);

  &:hover{
    //box-shadow: white 0 0 10px 3px;
    //transition: 0.2s;
    background-color: #27c777;
    border: 1px solid #27c777;
    //background-color: #008bd4;
    //background-color: #71d19f;
    // border: solid 1px $buttoncolor;
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  }

  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 5px rgba(232, 76, 61, 0);}}
  @-moz-keyframes pulse {to {box-shadow: 0 0 0 5px rgba(232, 76, 61, 0);}}
  @-ms-keyframes pulse {to {box-shadow: 0 0 0 5px rgba(232, 76, 61, 0);}}
  @keyframes pulse {to {box-shadow: 0 0 0 5px rgba(232, 76, 61, 0);}}
}

#try4-m {
  background-color: $buttoncolor;
  color: white;
  border-radius: 2px;
  //  font-weight: bold;
  margin-top: 60%;
  margin-bottom: 10px;

  //position: relative;
  //width: 100px;
  //height: 100px;
  border: 1px solid $buttoncolor;
  box-shadow: 0 0 0 0 #00864f;
  //border-radius: 50%;
  //background-color: #e84c3d;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);

  &:hover{
    //box-shadow: white 0 0 10px 3px;
    //transition: 0.2s;
    background-color: #27c777;
    border: 1px solid #27c777;
    //background-color: #008bd4;
    //background-color: #71d19f;
    // border: solid 1px $buttoncolor;
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  }

  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 5px rgba(232, 76, 61, 0);}}
  @-moz-keyframes pulse {to {box-shadow: 0 0 0 5px rgba(232, 76, 61, 0);}}
  @-ms-keyframes pulse {to {box-shadow: 0 0 0 5px rgba(232, 76, 61, 0);}}
  @keyframes pulse {to {box-shadow: 0 0 0 5px rgba(232, 76, 61, 0);}}
}

.portrait{
  h1{
    margin-top: 50px;
  }
}



/*-------------------------------------------FOOTER------------------------------------------------------*/

@media screen and (max-width: 414px){
  .footer{
    display: none;
  }

  .footer-m{
    display: block;
  }
}

@media screen and (min-width: 415px){
  .footer{
    display: block;
  }

  .footer-m{
    display: none;
  }
}

.footer {
  position: relative;
  z-index: 900;
  //top: 65vh;
  background-color: $leocolor;
  color: $backgroundcolor;
  font-size: 15px;

  p {
    padding: 15px 40px 15px 0;
    margin: 0;
    display: inline-block;
    font-size: 14px;
  }

  img {
    margin: 15px 7px 0 7px;
  }
}


.footer-m{
  @extend .footer;

  p{
    padding:15px 0 15px 0;
  }
}

.contact{
  text-align: right;
}
