@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 200;
  src: local('Catamaran ExtraLight'), local('Catamaran-ExtraLight'), url(https://fonts.gstatic.com/s/catamaran/v1/hFc-HKSsGk6M-psujei1MBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body{
  font-family: Catamaran;
  letter-spacing: 0.5px;
}

.row{
  margin : 0 3% 0 3%;
}

$leocolor : rgb(40, 62, 74);
$buttoncolor : rgb(0, 119, 181);
$backgroundcolor : #eeeeee;
$juniorcolor: rgb(0, 154, 234);
$expertcolor : rgb(0, 53, 81);

#overlay-back {
  position   : absolute;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 511%;
  background : #000;
  opacity    : 0.6;
  filter     : alpha(opacity=60);
  display    : none;
}

#overlay {
  position : absolute;
  top      : 0;
  left     : 0;
  width    : 100%;
  height   : 511%;
  display  : none;
}

#close{
  display: none;
  border: none;
  font-size: 20px;
  background-color: black;
  position: fixed;
  z-index:1200;
  bottom:80%;
  left:70%;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

#form{
  display: none;
  background-color: white;
  position: fixed;
  z-index:1000;
  bottom:9%;
  left:25%;
  height:550px;
  width: 50%;
  padding: 30px;
  color: #595959;
  //border: 3px solid $buttoncolor;
  //box-shadow: 0 0 100px 5px #101010;

  h3{
    margin: 0 70px 30px 70px;
    color: $leocolor;
  }

  label{
    margin-bottom: 0;
  }
}

.form-group{
  //margin: 0 15px 20px 15px;
}

.form-control{
  border-radius: 0;
  background-color: rgba(255, 250, 240, 0.8);
  border: 1px solid #d6d1c9;
}

#submit{
  margin-top: 15px;
  font-size:20px;
  font-weight: bold;
  background-color: $buttoncolor;
  color: white;
  border: 1px solid $buttoncolor;
  border-radius: 2px;

  &:hover {
    //box-shadow: white 0 0 10px 3px;
    transition: 0.2s;
    //border: solid 1px white;
  }
}

h1{
  font-size: 35px;
  color: $leocolor;
}

/*-------------------------------------------NAVBAR------------------------------------------------------*/
.navbar-fixed-top{
  background-color: $leocolor;
  border: none;
  padding: 0 15px 0 15px;
}

.navbar-header img{
  background-color: white;
  border-radius: 50px;
  margin-top: 6px;
  padding: 1px;
}

.navbar-text{
  font-size: 16px;
  color: whitesmoke;
}

.navbar-default .navbar-text{
  color: $backgroundcolor;
}

.navbar-right{
  margin: 0;
}

#try{
  font-size:16px;
  background-color: $buttoncolor;
  color: white;
  border-radius: 2px;
  font-weight: bold;

  &:hover{
    //box-shadow: white 0 0 10px 3px;
    transition: 0.2s;
    //border: solid 1px white;
  }
}

@media (max-width: 1024px) {
  #try{
    //font-size:14px;
  }

  .navbar-text{
    //font-size: 14px;
  }
}

/*-------------------------------------------HEADER------------------------------------------------------*/

.header{
  background-image: url('../../img/ourclients.jpg');
  background-repeat: no-repeat;
  background-position-y: 50px;
  background-attachment: fixed;
  background-size: 100%;
  height: 437px;
  color:white;

  h1 {
    font-weight: bolder;
    font-size: 45px;
    color: white;
  }

  p{
    letter-spacing: 0.5px;
    font-size: 24px;
  }
}

.slogan{
  padding-top: 10%;
}

#try2{

  @extend #try;
  margin-top: 40px;
  font-size: 20px;

  &:hover{
    @extend #try;
    //box-shadow: white 0 0 15px 3px;
    font-size: 20px;
  }
}

/*-------------------------------------------LEO------------------------------------------------------*/

.leo{
  background: $backgroundcolor;
  padding:3% 0 4% 0;
}

#leo{
  color: $buttoncolor;
  display: inline-block;
}

.description{
  padding: 1% 0 0 0;

  p{
    font-size:19px;
    text-align:center;
  }
}

/*-------------------------------------------LINKEDIN------------------------------------------------------*/

.linkedin{
  background-color: white;
  padding:3% 0 4% 0;
}

#linkedin{
  @extend #leo;
}

.users, .time, .messages{
  margin-top: 8%;
  width: 90%;
  // border-top: solid 2px $linkedin;
  //background-color: rgba(52, 97, 156, 0.04);

  p{
    padding: 10% 0 0 0;
    font-size: 18px;
    text-align: center;
  }
}

.mail, .hourglass, .profils{
  background-color: whitesmoke;
  width: 75px;
  height: 75px;
  border-radius: 150px;
  border: 1px solid $backgroundcolor;
  padding-top: 20px;
}


/*-------------------------------------------MISSIONS------------------------------------------------------*/

.missions {
  background-color: $backgroundcolor;
  padding: 3% 0 6% 0;

  img {
    float: left;
    margin: 10px;
    padding: 5px;
  }
}

#mi{
  color: $buttoncolor;
  display: inline-block;
}

.title{
  background-color: white;
  display: inline-block;
  width: 460px;
  margin-top:60px;
  box-shadow: 0 0 50px 8px rgb(255, 255, 255);

  p {
    padding-top: 20px;
    font-size: 22px;
    margin-right: 20px;
    text-transform: uppercase;
    color: $leocolor;
  }
}

.text{
  padding:10px 20px 0 0;
  width: 460px;

  p{
    padding: 10px 0 10px 0;
    color: $leocolor;
    font-weight: bolder;
    font-size: 18px;
  }
}

/*-------------------------------------------COMMENT------------------------------------------------------*/

.comment{
  padding: 3% 0 1% 0;
  background-color: $leocolor;

  h1{
    color: $backgroundcolor;
    padding: 0 0 5% 0;
  }
}

.one{
  display: inline-block;
  border-radius: 200px;
  background-color: rgb(101, 144, 166);
  font-size: 40px;
  width : 70px;
  height: 70px;
  color: $backgroundcolor;

  p{
    padding-top: 7px;
  }
}

.two{
  @extend .one;
  background-color: rgb(78, 148, 187);
}

.three{
  @extend .one;
  background-color: $buttoncolor;
}

.stapes{
  color:white;
  margin:10% 10% 10% 10%;
  text-align: center;
  font-size: 18px;
}

.border{
  display : inline-block;
  width: 28%;
  border-top : 3px solid $backgroundcolor;
}


/*-------------------------------------------PRICING------------------------------------------------------*/

.pricing{
  background-color: $backgroundcolor;
  padding: 3% 0 9% 0;
}

.list{
  padding:3% 0 4% 0;
  display: inline-block;

  p{
    padding: 11% 0 0 0;
    border-top: solid 1px;
    width: 280px;
  }

  i{
    float: right;
  }
}

.junior{
  background-color: white;
  margin: 10% 10% 0 10%;
  box-shadow: 0 0 40px 8px rgba(255, 255, 255, 1);

  p{
    font-size:18px;
    letter-spacing: 0.5px;
    text-align: left;
    font-weight: bold;
    line-height: 19px;
  }

  h2{
    color:$juniorcolor;
    margin-top:10px;
  }

  h3{
    margin:0;
    line-height: 0.4;
  }
}

#cinq{
  color: $juniorcolor;
}

.expert{
  @extend .junior;

  h2{
    color: rgb(0, 53, 81);
  }
}

#mille{
  color: $expertcolor;
}

.fa-check-circle{
  color: #28c368;
}

.juniorprice{
  border-bottom-left-radius: 2px;
  border-bottom-right-radius : 2px;
  padding:1% 0 2% 0;
  color:white;
  letter-spacing: 1px;
  border: solid 1px $juniorcolor;
  background-color: $juniorcolor;
  margin: 0 10% 0 10%;
  width:80%;

  p{
    font-size: 27px;
  }
}

.expertprice{
  @extend .juniorprice;
  border: solid 1px $expertcolor;
  background-color: $expertcolor;
}

.engagement p{
  font-size: 18px;
  font-weight: lighter;
  line-height: 0.1;
}

.gratis{
  margin-top: 70px;
}

#try3{
  @extend #try;
  margin-top: 40px;
  font-size: 20px;

  &:hover{
    //box-shadow: white 0 0 15px 3px;
    transition: 0.2s;
  }
}

/*-------------------------------------------CONTACT------------------------------------------------------*/

.portrait{
  padding:5% 0 5%;

  h1{
    margin-top: 50px;
  }
}

#try4{
  @extend #try;
  font-size:20px;
  margin-bottom: 20px;

  &:hover{
    //box-shadow: white 0 0 10px 3px;
    transition: 0.2s;
  }
}

#last p{
  padding-bottom: 50px;
}


/*-------------------------------------------FOOTER------------------------------------------------------*/

.footer{
  background-color: $leocolor;
  color: $backgroundcolor;
  font-size: 15px;
}

.footer p{
  padding: 15px;
  margin: 0;
  display: inline-block;
}

.footer img{
  float: right;
  margin: 10px 6px 6px 6px;
}
