@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 200;
  src: local("Catamaran ExtraLight"), local("Catamaran-ExtraLight"), url(https://fonts.gstatic.com/s/catamaran/v1/hFc-HKSsGk6M-psujei1MBampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
body {
  font-family: "Catamaran", "Lucida Sans", sans-serif;
  letter-spacing: 0.5px;
  font-weight: lighter; }

.row {
  margin: 0 3% 0 3%; }

#overlay-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  display: none;
  z-index: 950; }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; }

#close {
  font-size: 13px;
  float: right;
  position: relative;
  bottom: 3%;
  background-color: #283e4a;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: none; }

#close-m {
  font-size: 20px;
  float: right;
  position: relative;
  bottom: 4%;
  background-color: white;
  color: #283e4a;
  border: none; }

#submit {
  margin-top: 15px;
  font-size: 20px;
  background-color: #24bb6f;
  color: white;
  border: 1px solid #24bb6f;
  border-radius: 2px; }
  #submit:hover {
    transition: 0.2s; }

#submit-m {
  margin-top: 3%;
  font-size: 30px;
  background-color: #24bb6f;
  color: white;
  border: 1px solid #24bb6f;
  border-radius: 2px; }
  #submit-m:hover {
    transition: 0.2s; }

#form {
  display: none;
  background-color: white;
  position: fixed;
  z-index: 1000;
  bottom: 9%;
  top: 10%;
  left: 25%;
  height: 550px;
  width: 50%;
  padding: 30px 20px 30px 20px;
  color: #595959; }
  #form h3 {
    margin: 0 0 30px 30px;
    color: #283e4a; }
  #form label {
    margin-bottom: 0; }

#form-m {
  display: none;
  background-color: white;
  position: fixed;
  z-index: 1000;
  bottom: 9%;
  top: 7%;
  height: 100%;
  width: 100%;
  padding: 30px 0 30px 0;
  color: #595959; }
  #form-m h3 {
    margin: 20px 0 30px 30px;
    color: #283e4a;
    font-size: 35px; }
  #form-m label {
    margin-bottom: 0; }
  #form-m .input-lg {
    font-size: 25px;
    height: 10%; }

.form-control {
  border-radius: 0;
  background-color: rgba(255, 250, 240, 0.8);
  border: 1px solid #d6d1c9; }

#leopouce {
  display: none; }

#valid, #valid-m {
  font-size: 23px;
  margin: 10px 0 0 0;
  display: none;
  background-color: rgba(0, 128, 0, 0.08);
  padding: 15px 10px 10px 10px;
  border-radius: 3px;
  border: 1px solid rgba(0, 128, 0, 0.08);
  box-shadow: 0 0 0 0 #24bb6f;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1); }
@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); } }
@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); } }
@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); } }
@keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); } }
  #valid p, #valid-m p {
    text-align: left; }

#valid-m {
  font-size: 29px;
  margin: 8% 0 0 3px;
  padding: 5px;
  float: left;
  text-align: center; }

#existing, #existing-m, #wrong, #wrong-m, #empty-m {
  display: none;
  font-size: 16px;
  color: #ff0000;
  margin-right: 10px; }

#existing-m {
  font-size: 20px;
  margin: 0 0 0 3px;
  padding: 5px;
  float: left; }

#wrong-m {
  font-size: 20px;
  margin: 0 0 0 3px;
  padding: 5px;
  float: left; }

#empty-m {
  font-size: 20px;
  margin: 0 0 0 3px;
  padding: 5px;
  float: left; }

h1 {
  color: #283e4a; }

@media screen and (max-width: 414px) {
  h1 {
    font-size: 40px; } }
@media screen and (min-width: 415px) {
  h1 {
    font-size: 35px; } }
/*-------------------------------------------NAVBAR------------------------------------------------------*/
@media screen and (max-width: 414px) {
  .navbar-text, .navbar-right {
    display: none; }

  #nav-question-mobile {
    display: inline-block;
    color: white;
    font-size: 16px;
    margin: 4% 0 0 1%; }

  .navbar-header img {
    display: inline-block;
    margin-top: 0; }

  .navbar-fixed-top {
    padding: 0 2% 0 3%; } }
@media screen and (min-width: 415px) {
  .navbar-header img {
    margin-top: 6px; }

  .navbar-fixed-top {
    padding: 0 15px 0 15px; } }
.navbar-fixed-top {
  background-color: #283e4a;
  border: none; }

.navbar-header img {
  background-color: white;
  border-radius: 50px;
  padding: 1px; }
.navbar-header p {
  display: none; }

.navbar-text {
  font-size: 16px;
  color: whitesmoke;
  margin-bottom: 0; }

#nav-leo, #nav-question {
  font-size: 16px;
  color: whitesmoke;
  display: inline-block; }

.navbar-default .navbar-text {
  color: #eeeeee; }

.navbar-right {
  margin: 0; }

#try {
  font-size: 16px;
  background-color: #24bb6f;
  color: white;
  border-radius: 2px; }
  #try:hover {
    transition: 0.5s;
    border: solid 1px white; }

/*-------------------------------------------HEADER------------------------------------------------------*/
@media screen and (max-width: 414px) {
  .message {
    margin-top: 90%; }
    .message #desc {
      display: none; }
    .message h1 {
      font-size: 47px; }

  #try2-m {
    display: block;
    margin: 20% 0 10% 0; }

  #try2 {
    display: none; } }
@media screen and (min-width: 415px) {
  .message {
    margin-top: 20%; }
    .message h1 {
      font-size: 45px; }

  #try2-m {
    display: none; }

  #try2 {
    margin: 5% 0 0 0; } }
.header {
  height: 100%;
  margin-top: 50px;
  background: url("../../img/ourclients.jpg") no-repeat center center;
  background-size: cover; }

.message {
  transform: translateY(-50%); }
  .message h1 {
    color: #FFF; }
  .message #desc {
    color: #fff;
    font-size: 24px; }

#desc-m {
  display: none; }

#try2 {
  font-size: 20px;
  background-color: #24bb6f;
  color: white;
  border-radius: 2px;
  border: 1px solid #24bb6f;
  box-shadow: 0 0 0 0 #00864f;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1); }
  #try2:hover {
    transition: 0.5s;
    border: 1px solid white;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none; }
@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); } }
@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); } }
@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); } }
@keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); } }
#try2-m {
  font-size: 30px;
  background-color: #24bb6f;
  color: white;
  border-radius: 2px;
  border: 1px solid #24bb6f;
  box-shadow: 0 0 0 0 #00864f;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1); }
  #try2-m:hover {
    transition: 0.5s;
    border: 1px solid white;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none; }
@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); } }
@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); } }
@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); } }
@keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0); } }
/*-------------------------------------------LEO------------------------------------------------------*/
@media screen and (max-width: 414px) {
  .description {
    font-size: 25px;
    margin: 10% 0 5% 0; } }
@media screen and (min-width: 415px) {
  .description {
    font-size: 19px; } }
.leo {
  background-color: #eeeeee;
  padding: 3% 0 4% 0;
  position: relative;
  z-index: 900; }

#leo, #linkedin {
  color: #48649c;
  display: inline-block;
  margin: 0; }

.description {
  padding: 1% 0 0 0;
  text-align: center; }

#bold-prospect {
  display: inline-block; }

/*-------------------------------------------LINKEDIN------------------------------------------------------*/
@media screen and (max-width: 414px) {
  .users, .time, .messages {
    margin-top: 15%; }
    .users p, .time p, .messages p {
      padding: 10% 0 0 0; }

  .linkedin {
    padding: 3% 0 10% 0; } }
@media screen and (min-width: 415px) {
  .users, .time, .messages {
    margin-top: 8%; }
    .users p, .time p, .messages p {
      padding: 10% 3% 0 3%; }

  .linkedin {
    padding: 3% 0 4% 0; } }
.linkedin {
  background-color: white;
  position: relative;
  z-index: 900; }

.users, .time, .messages {
  width: 90%; }
  .users p, .time p, .messages p {
    font-size: 20px;
    text-align: center; }

.mail, .hourglass, .profils {
  background-color: whitesmoke;
  width: 75px;
  height: 75px;
  border-radius: 150px;
  border: 1px solid #eeeeee;
  padding-top: 20px; }

.mail, .hourglass, .profils {
  background-color: whitesmoke;
  width: 75px;
  height: 75px;
  border-radius: 150px;
  border: 1px solid #eeeeee;
  padding-top: 20px; }

/*-------------------------------------------MISSIONS------------------------------------------------------*/
@media screen and (max-width: 414px) {
  .title {
    width: 100%;
    margin-top: 8%; }
    .title p {
      font-size: 20px;
      margin-right: 3%; }

  .text {
    width: 100%; }
    .text p {
      display: none; } }
@media screen and (min-width: 415px) {
  .title {
    width: 80%;
    margin-top: 60px; }
    .title p {
      font-size: 22px;
      margin-right: 20px; }

  .text {
    width: 80%; }
    .text p {
      display: block; } }
.missions {
  background-color: #eeeeee;
  padding: 3% 0 6% 0;
  position: relative;
  z-index: 900; }
  .missions img {
    float: left;
    margin: 10px;
    padding: 5px; }

#mi {
  color: #48649c;
  display: inline-block; }

.title {
  background-color: white;
  display: inline-block;
  box-shadow: 0 0 50px 8px white; }
  .title p {
    padding-top: 20px;
    text-transform: uppercase;
    color: #283e4a; }

.text {
  padding: 10px 20px 0 0; }
  .text p {
    padding: 10px 0 10px 0;
    color: #283e4a;
    font-size: 18px; }

/*-------------------------------------------COMMENT------------------------------------------------------*/
@media screen and (max-width: 414px) {
  .screenshot {
    display: none; }

  .one-m, .two-m, .three-m {
    display: block; }

  .one, .two, .three {
    display: none; }

  .border {
    display: none; }

  .comment h1 {
    padding: 35% 0 60% 0;
    font-size: 50px; }

  .stapes {
    margin: 10% 10% 20% 10%; } }
@media screen and (min-width: 415px) {
  .one-m, .two-m, .three-m {
    display: none; }

  .one, .two, .three {
    display: inline-block; }

  .border {
    display: inline-block; }

  .comment h1 {
    padding: 0 0 5% 0; }

  .stapes {
    margin: 10% 10% 10% 10%; } }
#perf {
  display: inline-block; }

.comment {
  padding: 3% 0 3% 0;
  background-color: #283e4a;
  position: relative;
  z-index: 900; }
  .comment h1 {
    color: #eeeeee; }

.one {
  border-radius: 200px;
  background-color: #87a5cf;
  font-size: 40px;
  width: 70px;
  height: 70px;
  color: #eeeeee; }
  .one p {
    padding-top: 7px; }

.two {
  border-radius: 200px;
  background-color: #687f9f;
  font-size: 40px;
  width: 70px;
  height: 70px;
  color: #eeeeee; }
  .two p {
    padding-top: 7px; }

.three {
  border-radius: 200px;
  background-color: #455469;
  font-size: 40px;
  width: 70px;
  height: 70px;
  color: #eeeeee; }
  .three p {
    padding-top: 7px; }

.border {
  width: 28%;
  border-top: 3px solid #eeeeee; }

.screenshot {
  margin: 3% 0 3% 0; }

.one-m {
  border-radius: 200px;
  background-color: #87a5cf;
  font-size: 40px;
  width: 70px;
  height: 70px;
  color: #eeeeee; }
  .one-m p {
    padding-top: 7px; }

.two-m {
  border-radius: 200px;
  background-color: #687f9f;
  font-size: 40px;
  width: 70px;
  height: 70px;
  color: #eeeeee; }
  .two-m p {
    padding-top: 7px; }

.three-m {
  border-radius: 200px;
  background-color: #455469;
  font-size: 40px;
  width: 70px;
  height: 70px;
  color: #eeeeee; }
  .three-m p {
    padding-top: 7px; }

.stapes {
  color: white;
  text-align: center;
  font-size: 20px; }

/*-------------------------------------------PRICING------------------------------------------------------*/
@media screen and (max-width: 414px) {
  .junior, .confirme, .expert {
    margin: 20% 0 0 0; }
    .junior h5, .confirme h5, .expert h5 {
      display: none; }
    .junior h2, .confirme h2, .expert h2 {
      font-size: 40px; }
    .junior h3, .confirme h3, .expert h3 {
      font-size: 30px; }
    .junior p, .confirme p, .expert p {
      font-size: 23px; }

  #try3 {
    display: none; }

  .juniorprice, .confirmeprice, .expertprice {
    width: 100%; }
    .juniorprice p, .confirmeprice p, .expertprice p {
      font-size: 35px; }

  .list p {
    width: 310px;
    padding: 15% 0 5% 0; } }
@media screen and (min-width: 415px) {
  #try3 {
    display: block; }

  .junior, .confirme, .expert {
    margin: 10% 5% 0 5%; }
    .junior h5, .confirme h5, .expert h5 {
      display: block; }
    .junior p, .confirme p, .expert p {
      font-size: 18px; }

  .juniorprice, .confirmeprice, .expertprice {
    width: 90%; }
    .juniorprice p, .confirmeprice p, .expertprice p {
      font-size: 27px; }

  .list p {
    width: 280px;
    padding: 11% 0 0 0; } }
.pricing {
  background-color: #eeeeee;
  padding: 3% 0 5% 0;
  position: relative;
  z-index: 900; }

.list {
  padding: 3% 0 4% 0;
  display: inline-block; }
  .list p {
    border-top: solid 1px; }
  .list i {
    float: right; }

.junior, .confirme, .expert {
  background-color: white;
  box-shadow: 0 0 40px 8px white; }
  .junior p, .confirme p, .expert p {
    letter-spacing: 0.5px;
    text-align: left;
    line-height: 19px; }
  .junior h2, .confirme h2, .expert h2 {
    color: #00a2f8;
    margin-top: 10px; }
  .junior h3, .confirme h3, .expert h3 {
    margin: 0;
    line-height: 0.4; }

.juniorprice, .confirmeprice, .expertprice {
  display: block;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 1% 0 2% 0;
  color: white;
  letter-spacing: 1px;
  border: none;
  background-color: rgba(0, 167, 255, 0.35); }

.juniorprice-m, .confirmeprice-m, .expertprice-m {
  display: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 1% 0 2% 0;
  color: white;
  letter-spacing: 1px;
  border: solid 1px #00a2f8;
  background-color: #00a2f8;
  width: 100%; }
  .juniorprice-m p, .confirmeprice-m p, .expertprice-m p {
    font-size: 27px; }

#cent {
  color: #00a2f8; }

#cinq, #mille {
  color: #0072b0; }

.confirme h2 {
  color: #0072b0; }

.expert h2 {
  color: #004163; }

#mille {
  color: #004163; }

.fa-check-circle {
  color: #28c368; }

.confirmeprice {
  background-color: rgba(0, 114, 176, 0.35); }

.confirmeprice-m {
  border: solid 1px #0072b0;
  color: #0072b0; }

.expertprice {
  background-color: rgba(0, 65, 99, 0.36); }

.expertprice-m {
  border: solid 1px #004163;
  background-color: #004163; }

.engagement p {
  font-size: 18px;
  line-height: 0.1; }

.gratis {
  margin-top: 50px; }

#try3 {
  background-color: #24bb6f;
  color: white;
  border-radius: 2px;
  margin-top: 40px;
  font-size: 26px;
  border: 1px solid #24bb6f;
  box-shadow: 0 0 0 0 #009357;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.6s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.6s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.6s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.6s infinite cubic-bezier(0.66, 0, 0, 1); }
  #try3:hover {
    margin-top: 40px;
    background-color: #27c777;
    border: 1px solid #27c777;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none; }
@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 5px rgba(232, 76, 61, 0); } }
@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 5px rgba(232, 76, 61, 0); } }
@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 5px rgba(232, 76, 61, 0); } }
@keyframes pulse {
  to {
    box-shadow: 0 0 0 5px rgba(232, 76, 61, 0); } }
#try3-m {
  display: none;
  font-size: 16px;
  background-color: #24bb6f;
  color: white;
  border-radius: 2px; }
  #try3-m:hover {
    transition: 0.5s;
    border: solid 1px white; }

/*-------------------------------------------CONTACT------------------------------------------------------*/
@media screen and (max-width: 414px) {
  .portrait {
    padding: 25% 0 5%; }

  .button-test {
    display: none; }

  .button-test-m {
    display: block; }

  #last p {
    padding: 25% 0 30% 0;
    font-size: 20px; }

  .portrait h1 {
    margin-bottom: 40%; } }
@media screen and (min-width: 415px) {
  .portrait {
    padding: 5% 0 5%; }

  .button-test-m {
    display: none; }

  .button-test {
    display: block; }

  #last p {
    padding: 0 20px 90px 20px; } }
#last {
  background-color: white;
  position: relative;
  z-index: 900; }

#try4 {
  font-size: 20px;
  margin-bottom: 20px;
  background-color: #24bb6f;
  color: white;
  border-radius: 2px;
  border: 1px solid #24bb6f;
  box-shadow: 0 0 0 0 #00864f;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1); }
  #try4:hover {
    background-color: #27c777;
    border: 1px solid #27c777;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none; }
@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 5px rgba(232, 76, 61, 0); } }
@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 5px rgba(232, 76, 61, 0); } }
@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 5px rgba(232, 76, 61, 0); } }
@keyframes pulse {
  to {
    box-shadow: 0 0 0 5px rgba(232, 76, 61, 0); } }
#try4-m {
  font-size: 30px;
  background-color: #24bb6f;
  color: white;
  border-radius: 2px;
  margin-top: 60%;
  margin-bottom: 10px;
  border: 1px solid #24bb6f;
  box-shadow: 0 0 0 0 #00864f;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1); }
  #try4-m:hover {
    background-color: #27c777;
    border: 1px solid #27c777;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none; }
@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 5px rgba(232, 76, 61, 0); } }
@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 5px rgba(232, 76, 61, 0); } }
@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 5px rgba(232, 76, 61, 0); } }
@keyframes pulse {
  to {
    box-shadow: 0 0 0 5px rgba(232, 76, 61, 0); } }
.portrait h1 {
  margin-top: 50px; }

/*-------------------------------------------FOOTER------------------------------------------------------*/
@media screen and (max-width: 414px) {
  .footer, .footer-m {
    display: none; }

  .footer-m {
    display: block; } }
@media screen and (min-width: 415px) {
  .footer, .footer-m {
    display: block; }

  .footer-m {
    display: none; } }
.footer, .footer-m {
  position: relative;
  z-index: 900;
  background-color: #283e4a;
  color: #eeeeee;
  font-size: 15px; }
  .footer p, .footer-m p {
    padding: 15px 40px 15px 0;
    margin: 0;
    display: inline-block;
    font-size: 14px; }
  .footer img, .footer-m img {
    margin: 15px 7px 0 7px; }

.footer-m p {
  padding: 15px 0 15px 0; }

.contact {
  text-align: right; }

/*# sourceMappingURL=style.css.map */
